
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }

  .nav-links-container h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .contact-info {
    display: flex;
    gap: 30px; /* Space between contact items */
    align-items: center;
  }
  
  .contact-info div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact-info img {
    width: 24px;
    height: 24px;
  }
  
  .contact-info p {
    margin: 0;
    font-size: 16px;
    color: #555;
  }